@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap');

/* Modules */
@import 'modules/appBar.css';
/* Pages */
@import 'Pages/home.css';

/*Desing System */
:root {
    /* Colors */
    --red-highlight: #D2483D;
    --red-highlight: #F3F3F3;
    --red-highlight: #FFFFFF;
    --red-highlight: #000000;

    /* Text Configuration */
    --body-font: 'Montserrat';
    --body-highlight-font: 'Montserrat';
    --header-font: 'Bebas Neue';
    --title-font: 'Bebas Neue';

    --body-font-weight: 400;
    --body-highlight-font-weight: 600;
    --header-font-weight: 400;
    --title-font-weight: 400;

    --body-font-size: 1.25rem;
    --body-highlight-font-size: 1.25rem;
    --header-font-size: 4.5rem;
    --title-font-size: 1.5rem;

    --dody-line-height: 1.5rem;
    --dody-highlight-line-height: 1.5rem;
    --header-line-height: 5.375rem;
    ---lintitlee-height: 1.75rem;
}

@media (max-width: 768px) {
    :root {
      /* Mobile Variables */
    --body-font-size: 1rem;
    --body-highlight-font-size: 1rem;
    --header-font-size: 2.5rem;
    --title-font-size: 1.25rem;

    --body-line-height: 1.25rem;
    --body-highlight-line-height: 1.25rem;
    --header-line-height: 3rem;
    --title-line-height: 1.5rem;
    }
}




