.appBar{
    display: flex;
    flex-direction: row;
    padding: 1rem 0 1rem 3rem;
    
}
.appBar__icon{
    width: 4.5rem;
    height: 4.5rem;
}
.appBar__nav{
    display: flex;
    align-items: center;
    padding-left: 32px;
    

    
}
.appBar__navItem{
    font-family: Bebas Neue, 'Source Sans Pro';
    font-style: normal;
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    margin: right 1rem;
    padding-left: 32px;
    color: var(--black);
    text-decoration: none;
}
.appBar__navItem_accueil{
    font-family: Bebas Neue, 'Source Sans Pro';
    font-style: normal;
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    margin: right 1rem;
    padding-left: 32px;
    color: var(--black);
    text-decoration: underline var(--red-highlight);
}
body{
    background-color: var(--light-grey);
    font-family: var(--body-font);
    font-style: normal;
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--dody-line-height);
    color: var(--black);
    
}

h1{
    font-family: var(--header-font);
    font-style: normal;
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    color: var(--black);
}

h2{
    font-family: var(--title-font);
    font-style: normal;
    font-weight: var(--title-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--title-line-height);
    color: var(--black);
    text-decoration: underline var(--red-highlight);
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.188rem;
    text-align: center;
    
}
.contenue{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-left:10.7rem;
    text-align: center;
    top: 10rem;
}
.image{
    display: flex;
    flex-direction: row;
    font-weight: var(--header-font-weight);
    margin-left: 10rem;
    justify-content: space-between;
    padding-top: 2rem;
    margin-right: 5rem;
}
footer{
    background-color: black;
    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
    justify-content: end;
    
    
}
.logo-xl{
    height: 20rem;
    left: 40rem;
    object-fit: contain;
    position: absolute;
    top: 5rem;
    vertical-align: top;
    width: 30.4rem;
}
.link{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 2px 20px 2px 20px; 
    
}
@media (max-width: 768px) {
    .appBar {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    }

    .appBar__icon {
    width: 3rem;
    height: 3rem;
    }

    .appBar__nav {
    padding-left: 1px;
    }
}
.bagroung{
    background-color:#D2483D;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 3rem 10rem;
}
.ref{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 2px 20px 2px 20px; 
}
.depuis{
    margin-left: 4rem;
    margin-right:0rem ;  
}
.mise{
    height: 2rem;
    margin-left: 1rem;
    display: flex;

}
.h1{
    text-align: center;
}
.main{
    padding-left: 5rem;
}
.h1{
    text-decoration: underline var(--red-highlight); 
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}
.commune{
    padding-bottom: 4rem;
    padding-top: 3rem;
}